html, body {
    margin: 0; 
}

header {
    display: flex;
    justify-content: center; 
    text-transform: uppercase; 
    background-color: white;
    color: #1d2323;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
    /* background-color: #5c848e; */
    text-transform: uppercase;
/*     margin-bottom: 10px; */
}

.sticky {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
}

a {
    color: #ff570c;
}

a:link {
    text-decoration: none;
    margin: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto auto;

}

/* .container > div {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 2em;
} */

.container > section {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 2em;
    /* background-color: #e0e0ec; */
}

/* .square {
  height: 500px;
  width: 500px;
  border: 10px solid #ff570c;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .square >  */img {
    height: 600px;
    width: 100%;
}



/* .container > div:nth-child(1n) {
    background-color: #99ffcc;
} */

.container > div:nth-child(2n) {
    background-color: #ffccff;
}


.container > div:nth-child(3n) {
    background-color: #00ff99;
}

.container > div:nth-child(4n) {
    background-color: #ff9966;
}

section {
    grid-column: 1 / -1;
}

footer {
    display: flex; 
    justify-content: flex-end;
    margin: 5px;

}

